<p-menubar>
  <ng-template pTemplate="start">
    <p>{{ title }} - {{ currentDate | date }}</p></ng-template
  >
</p-menubar>

<div class="grid m-1">
  <div class="col-10">
    <ng-container *ngIf="isGridMode; else detailMode">
      <app-device-grid (onDeviceSelected)="onDeviceSelected($event)"></app-device-grid>
    </ng-container>
    <ng-template #detailMode>
      <app-device-detail [device]="selectedDevice"></app-device-detail>
    </ng-template>
  </div>
  <div class="col-1">
    <p-fileUpload
      *ngIf="isGridMode"
      mode="basic"
      accept=".json,application/JSON"
      chooseLabel="Geräte hinzufügen"
      (onSelect)="onAddDevices($event)"
    ></p-fileUpload>
    <button
      *ngIf="!isGridMode"
      pButton
      type="button"
      label="Zurück"
      style="width: 100%"
      class="p-button-sm"
      (click)="onBack()"
    ></button>
  </div>
</div>
